requests
Django==4.2.7
django_restframework
django-celery-beat
django-rest-swagger
Celery
pika
elasticsearch
jsonpath-ng
pyyaml
whitenoise
daphne
textblob
spacy
natsort
django-environ
statistics
nltk
bs4
google-cloud-bigquery
opensearch-py
openai==1.3.4
msal
PyJWT
pyahocorasick
redis
xmltodict
readability-lxml
tiktoken
channels
channels-redis
tika
drf-yasg
pymongo
