aiohttp==3.8.5
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.5.0
anyio==3.7.1
asgiref==3.7.2
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
beautifulsoup4==4.12.2
billiard==4.1.0
blis==0.7.10
bs4==0.0.1
cachetools==5.3.1
catalogue==2.0.9
celery==5.3.1
certifi==2023.7.22
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
confection==0.1.1
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cron-descriptor==1.4.0
cryptography==41.0.6
cssselect==1.2.0
cymem==2.0.7
daphne==4.0.0
decorator==5.1.1
distro==1.8.0
Django==4.2.7
django-celery-beat==2.5.0
django-environ==0.10.0
django-rest-swagger==2.2.0
django-restframework==0.0.1
django-timezone-field==6.0
djangorestframework==3.14.0
dnspython==2.4.2
docutils==0.20.1
drf-yasg==1.21.7
elastic-transport==8.4.0
elasticsearch==8.9.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.6.0/en_core_web_lg-3.6.0-py3-none-any.whl
filelock==3.13.1
flower==2.0.1
frozenlist==1.4.0
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-bigquery==3.11.4
google-cloud-core==2.3.3
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
grpcio==1.57.0
grpcio-status==1.57.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
humanize==4.8.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
itypes==1.2.0
Jinja2==3.1.2
joblib==1.3.2
jsonpath-ng==1.5.3
kombu==5.3.1
langcodes==3.3.0
lxml==4.9.3
MarkupSafe==2.1.3
msal==1.23.0
msgpack==1.0.7
multidict==6.0.4
murmurhash==1.0.9
natsort==8.4.0
nltk==3.8.1
numpy==1.25.2
openai==1.3.4
openapi-codec==1.3.2
opensearch-py==2.3.1
oracledb==1.4.2
packaging==23.1
pathy==0.10.2
pika==1.3.2
platformdirs==3.11.0
pluggy==1.3.0
ply==3.11
preshed==3.0.8
prometheus-client==0.17.1
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==4.24.2
pyahocorasick==2.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
PyJWT==2.8.0
pymongo==4.6.1
pyOpenSSL==23.2.0
pytest==7.4.0
pytest-django==4.5.2
python-crontab==3.0.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
readability-lxml==0.8.1
redis==5.0.0
regex==2023.8.8
requests==2.31.0
responses==0.23.3
rsa==4.9
service-identity==23.1.0
simplejson==3.19.1
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
snowflake-connector-python==3.6.0
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlparse==0.4.4
srsly==2.4.7
statistics==1.0.3.5
textblob==0.17.1
thinc==8.1.12
tika==2.6.0
tiktoken==0.5.1
tomlkit==0.12.3
tornado==6.3.3
tqdm==4.66.1
Twisted==23.8.0
txaio==23.1.1
typer==0.9.0
types-PyYAML==6.0.12.11
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.16
vine==5.0.0
wasabi==1.1.2
wcwidth==0.2.6
whitenoise==6.5.0
xmltodict==0.13.0
yarl==1.9.2
zope.interface==6.0
