requests
Django>=5.1, <5.2
django_restframework
django-celery-beat
Celery
pika
elasticsearch<9.0.0
jsonpath-ng
pyyaml
whitenoise
daphne
textblob
spacy
natsort
django-environ
statistics
nltk
bs4
google-cloud-bigquery
opensearch-py
openai
msal
PyJWT
pyahocorasick
redis
xmltodict
lxml[html_clean]
readability-lxml
tiktoken
channels
channels-redis
tika
pymongo
snowflake-connector-python
oracledb
psycopg2-binary
transformers
torch
pinecone
pandas
drf-spectacular
qdrant-client==1.10.0
presidio-analyzer
presidio-anonymizer