// Site Title
a.site-title.lh-tight {
    text-wrap: nowrap;
}

// In-Page ToC
.text-delta {
    color: goldenrod;
    font-weight: bold;
}
#markdown-toc li a {
    color: goldenrod;
    font-weight: lighter;
}
