// Site Title
// We replaced this with the logo option; leaving this in case we switch back
a.site-title.lh-tight {
    text-wrap: nowrap;
}

// In-Page ToC
.text-delta {
    color: goldenrod;
    font-weight: bold;
}
#markdown-toc li a {
    color: goldenrod;
}

// Make the separators into non-clickable section headers
a[href^="/separator"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
    font-size: larger;
    margin-top: 15px;
  }
