{% extends 'base.html' %}

{% block title %}Register!{% endblock %}

{% block content %}
{% load env_extras %}
&#10230; <a href="{% get_search_form_url %}" target="_new">Search Form</a><br/><br/>
APIs:<br/>
&#10230; <a href="/swirl/searchproviders/" target="_new">SearchProviders</a><br/>
&#10230; <a href="/swirl/search/" target="_new">Search</a><br/>
&#10230; <a href="/swirl/results/" target="_new">Results</a><br/>
&#10230; <a href="/swirl/swagger-ui/" target="_new">Swagger</a><br/><br/>
Utilities:<br/>
&#10230; <a href="/admin/" target="_new">Admin</a><br/>
&#10230; <a href="https://github.com/swirlai/swirl-search/wiki" target="_new">Documentation</a><br/>
&#10230; <a href="https://github.com/swirlai/swirl-search/issues" target="_new">Support</a><br/><br/>
{% endblock %}