<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SWIRL Federated Search Engine</title>
  <meta name="description" content="SWIRL Index Page">
  <meta name="author" content="sidprobstein@gmail.com">

  <meta property="og:title" content="SWIRL Federated Search Engine">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://localhost:8000/swirl/">
  <meta property="og:description" content="SWIRL Index Page">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">

  <link rel="stylesheet" href="/static/site.css">

</head>

<body>
  <!-- your content here... -->
  <script src="js/scripts.js"></script>
  <img src="/static/swirl_logo_notext_500.jpg", class="center"/><br/>
  <div class="huge"><a href="https://github.com/sidprobstein/swirl_server">SWIRL</a></div>
  <div class="big"><a href="https://github.com/sidprobstein/swirl_server">FEDERATED SEARCH ENGINE</a></div>
  <br/><br/>
  <div class="normal">
  &#128313; <a href="/swirl/searchproviders/">SearchProviders</a><br/>
  &#128313; <a href="/swirl/search/">Search</a><br/>
  &#128313; <a href="/swirl/results/">Results</a><br/>
  &#128313; <a href="/swirl/swagger-ui/">Swagger</a><br/>
  <br/>
  &#128313; <a href="https://github.com/sidprobstein/swirl_server/tree/preview3/docs">Documentation</a><br/>
  &#128313; <a href="/admin/" style="color: white;">Admin Server</a><br/>
  &#128313; <a href="http://127.0.0.1:8080/" style="color: white;">SQLite-Web</a><br/>
  &#128313; <a href="http://localhost:15672/#/" style="color: white;">RabbitMQ</a><br/>
  <br/>
  &#128313; <a href="mailto:swirl-support@probstein.com">Support</a>
  <br/>
  <br/>
  <br/>
  <a href="https://github.com/sidprobstein/swirl-search/blob/main/LICENSE">LICENSE</a> | <a href="https://github.com/sidprobstein/swirl-search/blob/main/NOTICE">NOTICE</a><br/>
  <br/>
  <br/>
  </div>
</body>
</html>