{% extends 'base.html' %}

{% block title %}Search {{ query|escape }}{% endblock %}

{% block content %}
<div class="menu">

    <form method="get">
        {% csrf_token %}
        <input type="text" id="query" name="q" value="{{ request.GET.q }}">
        <button type="submit">&nbsp; Search &nbsp;</button>
    </form>

    {% if query %}
        <h2>Search Results for "{{ query|escape }}"</h2>
        <ol>
            {% for result in results %}
                <li>
                    <a href="{{ result.url }}">{{ result.title }}</a>
                    <p>{{ result.body }}</p>
                    <p>{{ result.author }}, {{ result.date_published }}, {{ result.date_retrieved }}</p>
                    {% if result.payload %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in result.payload.items %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
</div>
{% endblock %}

