name: DockerBuild

on:
  # Allows manual run of this workflow from the Actions tab (on any branch)
  workflow_dispatch:

# For debugging
# on:
#   push:
#     branches: ''

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v4
    - name: login to docker hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
    - name: builder bootstrap
      run: docker buildx create --name devBuilder --use --bootstrap
    - name: Build the Docker image
      run: docker buildx build -t swirlai/swirl-search:develop --platform linux/amd64,linux/arm64 --push .
    - name: Update repo description
      uses: peter-evans/dockerhub-description@v4
      with:
        username: ${{ secrets.DOCKER_USERNAME_X }}
        password: ${{ secrets.DOCKER_PASSWORD_X }}
        repository: swirlai/swirl-search
    - name: Upload log files
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: log-files
        path: |
          logs/
          /var/log/syslog*
