name: Check URLs

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: urls-checker
      uses: urlstechie/urlchecker-action@0.0.34
      with:
        # A subfolder or path to navigate to in the present or cloned repository
        subfolder: docs

        # A comma-separated list of file types to cover in the URL checks
        file_types: .md,.html,.yml

        # Choose whether to include file with no URLs in the prints.
        print_all: false

        # The timeout seconds to provide to requests, defaults to 5 seconds
        timeout: 5

        # How many times to retry a failed request (each is logged, defaults to 1)
        retry_count: 3

        # A comma separated links to exclude during URL checks
        exclude_urls: 

        # A comma separated patterns to exclude during URL checks
        exclude_patterns: localhost:8000,localhost:9200,localhost:5601, https://www.googleapis.com/customsearch,https://xx.apis.it.h.edu

        # choose if the force pass or not
        force_pass : true